#book {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}
#book hr {
  border: 1px solid #3e2c0e;
  width: 5%;
}
#book .row {
  display: flex;
  text-align: left;
  text-transform: none;
  justify-content: center;
}
#book .row .elements {
  display: flex;
}
#book .row .elements .element {
  padding: 0 10px;
}
#book .row .elements .element input {
  width: 100%;
}
#book .button {
  background-color: #d44f4e;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

#footer {
  background-color: #3e2c0e;
  display: flex;
}
#footer p {
  color: white;
}
#service .row {
  background-image: url("../img/kitchen-cake-backe-backing.jpg");
  background-size: cover;
  background-position-x: 40%;
  background-position-y: 40%;
  padding: 0 10px;
  color: white;
  height: 250px;
  display: flex;
  align-items: center;
}

#meal {
  padding: 0 10px;
  text-align: center;
}
#meal .titre {
  padding: 50px;
}
#meal img {
  border: 5px solid gray;
  border-radius: 5px;
}
#meal p {
  margin: 0;
}

#menu {
  background-image: url(/img/pexels-photo-24553.jpg), url(/img/pexels-photo-24553.jpg);
  background-size: contain;
}
#menu .container {
  margin-top: 5rem;
}
#menu h2, #menu h3 {
  color: #ffffff;
}
#menu h2 {
  text-transform: uppercase;
}
#menu h3 {
  text-transform: capitalize;
}
#menu .card {
  background-color: transparent;
  border: 0;
  color: #ffffff;
  flex-direction: row;
  position: relative;
}
#menu .card img {
  background-color: #ffffff;
  border-radius: 0.5rem;
  max-width: 50%;
  padding: 0.25rem;
}

#menu .hr-menu {
  background-color: brown;
  height: 0.25rem;
  width: 10%;
}
#menu .btn-danger {
  background: linear-gradient(to bottom, #f75060, #dc3545);
}

#menu .card .badge {
  border: solid 3px #ffffff;
  border-radius: 50%;
  padding-top: 1.15rem;
  position: absolute;
  height: 4rem;
  left: -1.5rem;
  top: -2rem;
  width: 4rem;
}
#menu .card .badge-primary {
  background-color: brown;
}
#menu .card .badge mark {
  background-color: transparent;
  color: #ffffff;
  font-size: 1.15rem;
}
nav ul {
  padding: 1rem;
}
nav ul li {
  display: inline-block;
  padding: 0 0.5rem;
}
nav ul li:hover {
  background-color: #350a0a;
}
nav ul li a {
  text-decoration: none;
}

header {
  background-color: #0b3c58;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.jumbotron {
  background-image: url("../img/pexels-photo-132694.jpeg");
  text-align: center;
  height: 50rem;
  font-size: 8rem;
}
.jumbotron h1 {
  background-color: #3c2592;
}

/*# sourceMappingURL=style.css.map */
