//import de _vars et de _mixins
@import '_vars';
@import '_mixins';

//OPEN Commmon style

//CLOSE Commmon style

//OPEN #header

nav {
    ul {
        padding: 1rem;
            li {
                display: inline-block;
                padding: 0 0.5rem;

                &:hover {
                    background-color: #350a0a;
                }
                    a {
                        text-decoration: none;
                    }
            }
    }
}


header {
    background-color: $color-primary;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
//CLOSE #header

//OPEN #banner

.jumbotron {
    background-image: url("../img/pexels-photo-132694.jpeg");
    text-align:center;
    height: 50rem;
    font-size: 8rem;
        h1 {
            background-color:#3c2592;
        }
}
//CLOSE #banner

//OPEN #presentation
#presentation {

}
//CLOSE #presentation

//OPEN #service
#service {
    .row{
    background-image: url("../img/kitchen-cake-backe-backing.jpg");
    background-size: cover;
    background-position-x: 40%;
    background-position-y: 40%;
    padding: 0 10px;
    color: white;
    height: 250px;
    display: flex;
    align-items: center;
    }
}
//CLOSE #service

//OPEN #meal
#meal {
 
    padding: 0 10px;
    text-align: center;
    .titre{
        padding: 50px;
    }
    img{
        border: 5px solid gray;
        border-radius: 5px;
    }
    p{
        margin: 0;
    }
}
//CLOSE #meal

//OPEN #menu
#menu {
    .container {
        margin-top: 5rem;
    }
    background-image: url(/img/pexels-photo-24553.jpg), url(/img/pexels-photo-24553.jpg);
    background-size: contain;
    h2, h3 {
        color: $white;

    }
    h2 {
        text-transform: uppercase;
    }
    h3 {
        text-transform: capitalize;
    }
    .card{
        background-color: transparent;
        border: 0;
        color: $white;
        flex-direction: row;
        position: relative;
        img {
            background-color: $white;
            border-radius: 0.5rem;
            max-width: 50%;
            padding: 0.25rem;
        }
    }
}
#menu {
    .hr-menu {
        background-color: brown;
        height: 0.25rem;
        width: 10%;
    }
    .btn-danger {
        background: linear-gradient(to bottom, #f75060, #dc3545);
    }
}
#menu {
    .card {
        .badge {
            border: solid 3px $white;
            border-radius: 50%;
            padding-top: 1.15rem;
            position: absolute;
            height:4rem;
            left: -1.5rem;
            top: -2rem;
            width:4rem;
            &-primary {
                background-color: brown;
            }
            mark {
                background-color: transparent;
                color: $white;
                font-size: 1.15rem;
            }
        }
    }
}
//CLOSE #menu

//OPEN #book
#book {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;

    hr {
        border: 1px solid rgb(62,44,14);
        width: 5%;
    }

    .row {
        display: flex;
        text-align: left;
        text-transform: none;
        justify-content: center;

            .elements {
                display: flex;

                .element {
                    padding: 0 10px;

                    input {
                        width: 100%;
                    }
                }
            }
    }

    .button {
        background-color: rgb(212, 79, 78);
        border-radius: 10px;
        padding: 10px;
        color: white;
    }
}
//CLOSE #book

//OPEN #footer
#footer {
    background-color: rgb(62,44,14);
    display: flex;
    
    p {
        color: white;
    }
}
//CLOSE #footer